[submodule "home/vim/bundle/nerdtree"]
	path = home/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "home/vim/bundle/powerline"]
	path = home/vim/bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "home/vim/bundle/fugitive"]
	path = home/vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "home/vim/bundle/obsession"]
	path = home/vim/bundle/obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "home/vim/bundle/minibufexpl"]
	path = home/vim/bundle/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "home/vim/bundle/nerdcommenter"]
	path = home/vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
